#home-page {
    font-size: 2em;
}
#home-page h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(0, 0, 204);
}
#shop-link-container {
    width: fit-content;
    margin: 2em auto;
}
#shop-link-container a {
    border-radius: 10px;
}
#info {
    border-radius: 10px;
    padding: 1em;
    margin: 2em auto;
    width: fit-content;
    color: aliceblue;
    background-color: rgba(26, 26, 26, 0.774);
}
#info p {
    margin: 2em auto;
}
