nav {
    width: 100%;
    height: fit-content;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    display: flex;
    box-shadow: 0px 0px 10px black;
    position: sticky;
    top: 0;
    z-index: 2;
}
a {
    font-size: 1.3em;
    padding: 1em;
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    width: 10%;
    font-family: 1.5em;
}
a:hover {
    color: dodgerblue;
    background-color: black;
}
#bag-anchor {
    margin-left: 50%;
}
